.timeline {
  padding: 20px;
  width: 90%;
  margin: auto;
  background-color: bisque;
}

.add-event-button {
  margin-bottom: 20px;
  padding: 10px 20px;
  font-size: 16px;
  background-color: rgb(33, 150, 243);
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

.add-event-button:hover {
  background-color: rgb(14, 86, 145);
}

.add-event-form {
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.add-event-form input {
  padding: 10px;
  font-size: 14px;
}

.add-event-form button {
  padding: 10px;
  margin-left: 50px;
  margin-right: 50px;
  font-size: 14px;
  background-color: rgb(33, 150, 243);
  color: white;
  border: none;
  cursor: pointer;
}

.add-event-form button:hover {
  background-color: rgb(14, 86, 145);
}

.delete-event-button {
  position: absolute;
  bottom: 10px;
  right: 10px;
  margin-bottom: 0;
  padding: 4px 8px;
  background: none;
  border: none;
  cursor: pointer;
  width: 28px;
  height: 28px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.delete-event-button img {
  width: 16px;
  height: 16px;
}

.delete-event-button:hover {
  background: #f32121;
  box-shadow: 0 4px 16px rgba(159, 8, 8, 0.1);
  transform: scale(1.1);
}