#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.App {
  text-align: center;
}

.App h1 {
  margin: 0 auto 1.5rem;
  max-width: 400px;
  font-size: 2rem;
  text-align: center;
}
